body {
    background: #eeeeee;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 500px;
    width: 100%;
    background-color: #fcb4b4;
}